<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Login</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
          </ul>
        </div>
      </nav>
    
        <div class="container" style="height: 80vh; display: grid; place-items: center">
            <div class="row">
                <div class="col-12" style="text-align: center;">
                    <h1>Login to your account</h1>
                </div>
                <div class="col-8" style="margin: auto;">
                    <form action="/login" method="POST">
                        <div class="form-group">
                          <label for="username">Username</label>
                          <input name="username" type="email" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Username or Email">
                          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                          <label for="password">Password</label>
                          <input name="password" type="password" class="form-control" id="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                        <% if (messages.error) { %>
                          <div class="alert alert-danger mt-3" role="alert">
                            <%= messages.error %>
                          </div>
                        <% } %>
                        <% if (messages.info) { %>
                          <div class="alert alert-success mt-3" role="alert">
                            <%= messages.info %>
                          </div>
                        <% } %>
                      </form>
                </div>
            </div>
        </div>
</body>
</html>